{% extends "Portal/base.html" %}
{% load static %}
{% load humanize %}

{% block page_name %}view_listing{% endblock %}

{% block page_scripts %}
  <script defer src="{% static 'Portal/scripts/view_listing.js' %}"></script>
{% endblock %}

{% block main %}
  <div class="subheader">
    <a href="{% url 'Portal:post_an_ad' %}" class="cta--post_an_ad">Post an ad</a> &middot; <a href="{% url 'Portal:help' %}">Help</a>
  </div>

  <div class="contents">
    <h2>
      <span class="listing__brand">{{ listing.part.brand }}</span>
      <span class="listing__part">{{ listing.part.name }}</span>
    </h2>

    <div class="listing__info">
      {% if listing.description %}<div class="listing__description">{{ listing.description | escape | linebreaks }}</div>{% endif %}
      <p class="listing__price">Price: {{ listing.price }}</p>
      <p class="listing__condition">Condition: {{ listing.get_condition_display }}</p>
      <p class="listing__location">Location: {{ listing.location }}</p>
      <p class="listing__contact_info">Contact info: {{ listing.contact_info }}</p>
    </div>

    <div class="listing__images">
      {% if listing.photo_1 %}<img src="{{ listing.photo_1.url }}">{% endif %}  
      {% if listing.photo_2 %}<img src="{{ listing.photo_2.url }}">{% endif %}  
      {% if listing.photo_3 %}<img src="{{ listing.photo_3.url }}">{% endif %}  
      {% if listing.photo_4 %}<img src="{{ listing.photo_4.url }}">{% endif %}  
    </div>

    <div class="listing__meta">
      <p class="listing__code">Listing Code: {{ listing.code }}</p>
      <p class="listing__added_on">Added On: {{ listing.added_on }}</p>
    </div>

  </div>
{% endblock %}